.todo-wrapper {
    padding: 70px 100px;
}

.todo {
    display: flex;
    box-shadow: 1px 2px 20px #f3f3f3;
    border-radius: 10px;
    font-size: 14px;

    &__sidebar {
        background-color: #f4f6f8;
        flex: 0 0 250px;
        border-right: 1px solid #f1f1f1;
        padding: 60px 20px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__tasks {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        padding: 60px;
    }
}